.page {
  page-break-after: always;
}

/** report1 start */
.report1-main-container {
  background: #b49fd8;
  height: min-content;
}
.report1-sub-container {
  background: #fff;
  height: min-content;
  margin: 6rem 3rem 6rem -12px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: thin solid #000;
}
.report1-title {
  color: #b49fd8;
}
.report1-cap-container {
  margin-top: 10rem;
}
.report1-cap {
  color: #452b4e;
}
.report1-footer {
  padding: 8px;
  background: #a84e85;
  border-radius: 20px;
  margin-left: 12px;
  width: 90%;
}
.report1-footer-txt {
  color: #fff;
}
/** report1 end */

/** report2 start */
.report2-top-container {
  height: 8vh;
  background: #b49fd8;
}
.report2-btn-container {
  background: #a84e85;
  padding: 2px 20px;
  border-radius: 20px;
}
.report2-btn {
  color: #fff;
}
.report2-score-red {
  color: #ff5757;
}
.report2-score-green {
  color: #00bf63;
}
.report2-score-orange {
  color: #ff914d;
}
.report2-text {
  color: #495057;
}
.report2-section1 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report2-sub-section1 {
  padding: 0;
}
.report2-section2 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  margin: 0;
}
.report2-section3 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  margin: 0;
}
.report2-section4 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  margin: 0;
}
.report2-section5 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  border-bottom: thin solid #000;
  margin: 0;
}
/** report2 end */

/** report3 start */
.report3-btn-container {
  background: #a84e85;
  padding: 2px 20px;
  border-radius: 20px;
}
.report3-btn {
  color: #fff;
}
.report3-description-container {
  padding: 15px;
  background: #b49fd8;
}
.report3-description {
  color: #fff;
}
.report3-mindset {
  color: #452b4e;
}
.report3-growth {
  color: #ff5757;
}
.report3-red {
  color: #ff5757;
}
.report3-green {
  color: #00bf63;
}
.report3-orange {
  color: #ff914d;
}
.report3-section1 {
  border-top: thin solid #000;
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report3-section2,
.report3-section3,
.report3-section4,
.report3-section5 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report3-section6 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  border-bottom: thin solid #000;
  padding: 0;
  margin: 0;
}
/** report3 end */

/** report4 start */
.report4-btn-container {
  background: #a84e85;
  padding: 2px 20px;
  border-radius: 20px;
}
.report4-btn {
  color: #fff;
}
.report4-description-container {
  padding: 15px;
  background: #b49fd8;
}
.report4-description {
  color: #fff;
}
.report4-skill {
  color: #452b4e;
}
.report4-hrPro {
  color: #ff5757;
}
.report4-red {
  color: #ff5757;
}
.report4-green {
  color: #00bf63;
}
.report4-orange {
  color: #ff914d;
}
.report4-section1 {
  border-top: thin solid #000;
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report4-section2,
.report4-section3,
.report4-section4,
.report4-section5 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report4-section6 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  border-bottom: thin solid #000;
  padding: 0;
  margin: 0;
}
/** report4 end */

/** report5 start */
.report5-btn-container {
  background: #a84e85;
  padding: 2px 20px;
  border-radius: 20px;
}
.report5-btn {
  color: #fff;
}
.report5-description-container {
  padding: 15px;
  background: #b49fd8;
}
.report5-description {
  color: #fff;
}
.report5-skill {
  color: #452b4e;
}
.report5-hrPro {
  color: #ff5757;
}
.report5-red {
  color: #ff5757;
}
.report5-green {
  color: #00bf63;
}
.report5-orange {
  color: #ff914d;
}
.report5-section1 {
  border-top: thin solid #000;
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report5-section2,
.report5-section3,
.report5-section4,
.report5-section5 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report5-section6 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  border-bottom: thin solid #000;
  padding: 0;
  margin: 0;
}
/** report5 end */

/** report6 start */
.report6-btn-container {
  background: #a84e85;
  padding: 2px 20px;
  border-radius: 20px;
}
.report6-btn {
  color: #fff;
}
.report6-wus {
  color: #452b4e;
}
.report6-text {
  color: #a84e85;
}
.report6-section1 {
  border-top: thin solid #000;
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report6-section2 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report6-section3 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  border-bottom: thin solid #000;
  padding: 0;
  margin: 0;
}
/** report6 end */

/** report7 start */
.report7-section1 {
  border-top: thin solid #000;
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report7-section2,
.report7-section3,
.report7-section4 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report7-section5 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  border-bottom: thin solid #000;
  padding: 0;
  margin: 0;
}
.report7-btn-container {
  background: #a84e85;
  padding: 2px 20px;
  border-radius: 20px;
}
.report7-btn {
  color: #fff;
}
.report7-wrapper {
  background: #b49fd8;
}
.report7-text-clr {
  color: #fff;
}
/** report7 end */

/** report8 start */
.report8-section1 {
  border-top: thin solid #000;
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
  background: #b49fd8;
}
.report8-section2 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  border-bottom: thin solid #000;
  padding: 0;
  margin: 0;
  background: #b49fd8;
}
/** report8 end */
