  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');
* {
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  margin: 0;
  padding: 0;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.form-control::placeholder {
  color: #666;
  opacity: 0.5;
}

.ag-cell-focus,
.ag-cell-no-focus {
  border: none !important;
}
/* This CSS is to not apply the border for the column having 'no-border' class */
.no-border.ag-cell:focus {
  border: none !important;
  outline: none;
}
