* {
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  margin: 0;
  padding: 0;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.form-control::placeholder {
  color: #666;
  opacity: 0.5;
}
